<%= form_for(@assessment) do |f| %>
  <% if @assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% @assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :one %><br>
    <%= f.date_select :one %>
  </div>
  <div class="field">
    <%= f.label :two %><br>
    <%= f.text_field :two %>
  </div>
  <div class="field">
    <%= f.label :three %><br>
    <%= f.text_field :three %>
  </div>
  <div class="field">
    <%= f.label :four %><br>
    <%= f.text_field :four %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :five %><br>
    <%= f.date_select :five %>
  </div>
  <div class="field">
    <%= f.label :six %><br>
    <%= f.text_area :six %>
  </div>
  <div class="field">
    <%= f.label :seven %><br>
    <%= f.text_area :seven %>
  </div>
  <div class="field">
    <%= f.label :eight %><br>
    <%= f.text_area :eight %>
  </div>
  <div class="field">
    <%= f.label :nine %><br>
    <%= f.text_area :nine %>
  </div>
  <div class="field">
    <%= f.label :ten %><br>
    <%= f.text_area :ten %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
