<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @assessment.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @assessment.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @assessment.three %>
</p>

<p>
  <strong>Four:</strong>
  <%= @assessment.four %>
</p>

<p>
  <strong>Text:</strong>
  <%= @assessment.text %>
</p>

<p>
  <strong>Five:</strong>
  <%= @assessment.five %>
</p>

<p>
  <strong>Six:</strong>
  <%= @assessment.six %>
</p>

<p>
  <strong>Seven:</strong>
  <%= @assessment.seven %>
</p>

<p>
  <strong>Eight:</strong>
  <%= @assessment.eight %>
</p>

<p>
  <strong>Nine:</strong>
  <%= @assessment.nine %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @assessment.ten %>
</p>


<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
