<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @schoole_manager.user %>
</p>

<p>
  <strong>Schoole:</strong>
  <%= @schoole_manager.schoole %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @schoole_manager.comment %>
</p>

<p>
  <strong>Score:</strong>
  <%= @schoole_manager.score %>
</p>

<%= link_to 'Edit', edit_schoole_manager_path(@schoole_manager) %> |
<%= link_to 'Back', schoole_managers_path %>
