<p id="notice"><%= notice %></p>

<h1>Listing School of Engineering Forms</h1>

<% if current_user.position == 'Admin' %>

<table border = '1'>
  <thead>
    <tr>
      <th>Title of Degree or Certificate Program</th>
      <th>Name of Academic Department (if relevant):</th>
      <th>Date Submitted to College/School/Branch for Review:</th>
      <th>Comment</th>
      <th>Score</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @schooles.each do |schoole| %>
      <tr>
        <td><%= schoole.one %></td>
        <td><%= schoole.three %></td>
        <td><%= schoole.seven %></td>
        <% flag = 0 %>
            <% @schoole_managers.each do |schoole_manager| %>
              <% if schoole.id == schoole_manager.schoole_id %>
                <% flag = 1 %>
                <td><%= schoole_manager.comment %></td>
                <td><%= schoole_manager.score %></td>
                <td><%= link_to 'Grade', edit_schoole_schoole_manager_path(schoole, schoole_manager.id) %></td>
              <% end %>
            <% end %>
            <% if flag == 0 %>
                <td>Need to Grade</td>
                <td>Need to Grade</td>
                <td><%= link_to 'Grade', new_schoole_schoole_manager_path(schoole) %></td>
            <% end %>
        <td><%= link_to 'Edit', edit_schoole_path(schoole) %></td>
        <td><%= link_to 'Destroy', schoole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<% if current_user.position == 'Manager' %>
<table border = "1">
  <thead>
    <tr>
      <th>Title of Degree or Certificate Program</th>
      <th>Name of Academic Department (if relevant):</th>
      <th>Date Submitted to College/School/Branch for Review:</th>
      <th>Comment</th>
      <th>Score</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if current_user.department_name == user.department_name %>
        <% identity = user.id %>
        <% @schooles.each do |schoole| %>
          <tr>
          <% if identity == schoole.user_id %>
            <td><%= schoole.one %></td>
            <td><%= schoole.three %></td>
            <td><%= schoole.seven %></td>
            <% flag = 0 %>
            <% @schoole_managers.each do |schoole_manager| %>
              <% if schoole.id == schoole_manager.schoole_id %>
                <% flag = 1 %>
                <td><%= schoole_manager.comment %></td>
                <td><%= schoole_manager.score %></td>
                <td><%= link_to 'Grade', edit_schoole_schoole_manager_path(schoole, schoole_manager.id) %></td>
              <% end %>
            <% end %>
            <% if flag == 0 %>
                <td>Need to Grade</td>
                <td>Need to Grade</td>
                <td><%= link_to 'Grade', new_schoole_schoole_manager_path(schoole) %></td>
            <% end %>
            <td><%= link_to 'Edit', edit_schoole_path(schoole) %></td>
            <td><%= link_to 'Destroy', schoole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<% end %>

<% if current_user.position == 'User' %>

<table border = '1'>
  <thead>
    <tr>
      <th>Title of Degree or Certificate Program:</th>
      <th>Degree Level</th>
      <th>Name of Academic Department: </th>
      <th>Name of College/School/Branch:</th>
      <th>Academic Year/Assessment Period:</th>
      <th>Submitted By (include email address):</th>
      <th>Date Submitted to College/School/Branch for Review:</th>
      <th>Date Reviewed by College Assessment and Review Committee (CARC) or the equivalent:</th>
      <th>State whether ALL of the program’s student learning outcomes (SLOs) are targeted/assessed/measured within one year, two years, OR three years:</th>
      <th>If the program’s SLO’s are targeted/assessed/measured within two years or three years, please state whether this assessment record focuses on SLOs from the first year, second year, or third year:</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @schooles.each do |schoole| %>
      <tr>
      <% if current_user.id == schoole.user_id %>
        <td><%= schoole.one %></td>
        <td><%= schoole.two %></td>
        <td><%= schoole.three %></td>
        <td><%= schoole.four %></td>
        <td><%= schoole.five %></td>
        <td><%= schoole.six %></td>
        <td><%= schoole.seven %></td>
        <td><%= schoole.eight %></td>
        <td><%= schoole.nine %></td>
        <td><%= schoole.ten %></td>
        <td><%= link_to 'Show', schoole %></td>
        <td><%= link_to 'Edit', edit_schoole_path(schoole) %></td>
        <td><%= link_to 'Destroy', schoole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New School of Engineering Form', new_schoole_path %>
<% end %>

<br>
<%= link_to 'Back', mains_path %>