<%= form_for(@collegeaand) do |f| %>
  <% if @collegeaand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collegeaand.errors.count, "error") %> prohibited this collegeaand from being saved:</h2>

      <ul>
      <% @collegeaand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    Name of Degree or Certificate Program
    <% f.label :one %><br>
    <%= f.text_field :one %>
  </div>
  <div class="field">
    Degree Level
    <% f.label :two %><br>
    <%= f.text_field :two %>
  </div>
  <div class="field">
    Name of Academic Department (if not a standalone program):
    <% f.label :three %><br>
    <%= f.text_field :three %>
  </div>
  <div class="field">
    Name of College/School/Branch:  
    <% f.label :four %><br>
    <%= f.text_field :four %>
  </div>
  <div class="field">
    Academic Year/Assessment Period:
    <% f.label :five %><br>
    <%= f.text_field :five %>
  </div>
  <div class="field">
    Submitted By (include email address):
    <% f.label :six %><br>
    <%= f.text_field :six %>
  </div>
  <div class="field">
    Date Submitted to College/School/Branch for Review:
    <% f.label :seven %><br>
    <%= f.date_select :seven %>
  </div>
  <div class="field">
    Date Reviewed by College Assessment and Review Committee (CARC) or the equivalent:
    <% f.label :eight %><br>
    <%= f.date_select :eight %>
  </div>
  <div class="field">
    State whether ALL of the program’s student learning outcomes (SLOs) are assessed over one year, two years, OR three years:
    <% f.label :nine %><br>
    <%= f.text_area :nine %>
  </div>
  <div class="field">
    If the program’s SLO’s are targeted/assessed/measured within two years or three years, please state whether this assessment record focuses on SLOs from the first year, second year, or third year of your assessment cycle: 
    <% f.label :ten %><br>
    <%= f.text_area :ten %>
  </div>
  <div class="field">
    Describe the program changes that were implemented during this reporting period in response to the previous period’s assessment results. Please include evidence of implemented changes in an appendix:
    <% f.label :eleven %><br>
    <%= f.text_area :eleven %>
  </div>
  <div class="field">
    Describe any revisions to your assessment process that you made for this reporting cycle and/or plan to make for future reporting cycles:
    <% f.label :twelve %><br>
    <%= f.text_area :twelve %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>