<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @collegeaand.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @collegeaand.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @collegeaand.three %>
</p>

<p>
  <strong>Four:</strong>
  <%= @collegeaand.four %>
</p>

<p>
  <strong>Five:</strong>
  <%= @collegeaand.five %>
</p>

<p>
  <strong>Six:</strong>
  <%= @collegeaand.six %>
</p>

<p>
  <strong>Seven:</strong>
  <%= @collegeaand.seven %>
</p>

<p>
  <strong>Eight:</strong>
  <%= @collegeaand.eight %>
</p>

<p>
  <strong>Nine:</strong>
  <%= @collegeaand.nine %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @collegeaand.ten %>
</p>

<p>
  <strong>Eleven:</strong>
  <%= @collegeaand.eleven %>
</p>

<p>
  <strong>Twelve:</strong>
  <%= @collegeaand.twelve %>
</p>

<%= link_to 'Edit', edit_collegeaand_path(@collegeaand) %> |
<%= link_to 'Back', collegeaands_path %>
