<h1>Editing Score</h1>

<%= render 'form' %>

<% s = request.original_url %>
<% s = s[34...-24] %>
<% s = s.to_i %>


<% @assessments.each do |assessment| %>
<% if assessment.id == s %>
<% @users.each do |user| %>
<% if assessment.user_id == user.id %>
<strong>Added By </strong><%= user.email %>
<strong>Under </strong><%= user.department_name %> Department
<% end %>
<% end %>
<% end %>
<% end %>
<br>

<%= link_to 'Back', assessments_path %>
