<p id="notice"><%= notice %></p>

<h1>Listing Assessment Managers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Assessment</th>
      <th>Comment</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessment_managers.each do |assessment_manager| %>
      <tr>
        <td><%= assessment_manager.user %></td>
        <td><%= assessment_manager.assessment %></td>
        <td><%= assessment_manager.comment %></td>
        <td><%= assessment_manager.score %></td>
        <td><%= link_to 'Show', assessment_manager %></td>
        <td><%= link_to 'Edit', edit_assessment_manager_path(assessment_manager) %></td>
        <td><%= link_to 'Destroy', assessment_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assessment manager', new_assessment_manager_path %>
