<%= form_for(@generic_manager) do |f| %>
  <% if @generic_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@generic_manager.errors.count, "error") %> prohibited this generic_manager from being saved:</h2>
      <ul>
      <% @generic_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% s = request.original_url %>
  <% s = s[31...-21] %>
  <% s = s.to_i %>
  <% @generics.each do |generic| %>
    <% if generic.id == s %>
    <p>
      <strong>Title of Degree or Certificate Program:</strong>
      <%= generic.one %>
      <br>
      <strong>Degree Level:</strong>
      <%= generic.two %>
      <br>
      <strong>Name of Academic Department (if relevant):</strong>
      <%= generic.three %>
      <br>
      <strong>Name of College/School/Branch:</strong>
      <%= generic.four %>
      <br>
      <strong>Academic Year/Assessment Period:</strong>
      <%= generic.five %>
      <br>
      <strong>Submitted By (include email address):</strong>
      <%= generic.six %>
      <br>
      <strong>Date Submitted to College/School/Branch for Review:</strong>
      <%= generic.seven %>
      <br>
      <strong>Date Reviewed by College Assessment and Review Committee (CARC) or the equivalent:</strong>
      <%= generic.eight %>
      <br>
      <strong>State whether ALL of the program’s student learning outcomes (SLOs) are targeted/assessed/measured within one year, two years, OR three years:</strong>
      <%= generic.nine %>
      <br>
      <strong>If the program’s SLO’s are targeted/assessed/measured within two years or three years, please state whether this assessment record focuses on SLOs from the first year, second year, or third year:</strong>
      <%= generic.ten %>
      <br>
      <strong>Describe the actions and/or improvements that were implemented during the previous reporting period (provide relevant evidence):</strong>
      <%= generic.eleven %>
    </p>
    <% end %>
  <% end %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :generic_id, :value => s %>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
  <% if current_user.position == "Admin" %>
    <br>
    <% @generic_managers.each do |genericmanager| %>
      <% if genericmanager.generic_id == s %>
        <% idu = genericmanager.user_id %>
        <% @users.each do |user| %>
          <% if idu == user.id %>
            <strong>Graded By </strong><%= user.email %>
            <strong>Under </strong><%= user.department_name %> Department
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>