<h1>Add Score</h1>

<%= render 'form' %>

<% s = request.original_url %>
<% s = s[31...-21] %>
<% s = s.to_i %>

<br>
<% @generics.each do |generic| %>
<% if generic.id == s %>
<% @users.each do |user| %>
<% if generic.user_id == user.id %>
<strong>Added By </strong><%= user.email %>
<strong>Under </strong><%= user.department_name %> Department
<% end %>
<% end %>
<% end %>
<% end %>
<%= link_to 'Back', generics_path %>

