<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @generic_manager.user %>
</p>

<p>
  <strong>Generic:</strong>
  <%= @generic_manager.generic %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @generic_manager.comment %>
</p>

<p>
  <strong>Score:</strong>
  <%= @generic_manager.score %>
</p>

<%= link_to 'Edit', edit_generic_manager_path(@generic_manager) %> |
<%= link_to 'Back', generic_managers_path %>
