<br> <br> <br>
Welcome
<br>
Department Name: <%= current_user.department_name %>
<br>
Role: <%= role = current_user.position %>
<br>
<% if role == 'User' %>
	<%= link_to 'UNM Generic Forms', generics_path %><br>
	<%= link_to 'College of Arts and Sciences Forms', collegeaands_path %><br>
	<%= link_to 'School of Engineering Forms', schooles_path %><br>
	<%= link_to 'Annual Academic Program Assessment Report',assessments_path %>
<% end %>
<% if role == 'Manager' %>
	<%= link_to 'UNM Generic Forms', generics_path %><br>
	<%= link_to 'College of Arts and Sciences Forms', collegeaands_path %><br>
	<%= link_to 'School of Engineering Forms', schooles_path %><br>
	<%= link_to 'Annual Academic Program Assessment Report',assessments_path %>
<% end %>
<% if role == 'Admin' %>
	<%= link_to 'UNM Generic Forms', generics_path %><br>
	<%= link_to 'College of Arts and Sciences Forms', collegeaands_path %><br>
	<%= link_to 'School of Engineering Forms', schooles_path %><br>
	<%= link_to 'Annual Academic Program Assessment Report',assessments_path %>
<% end %>