<%= form_for(@college_manager) do |f| %>
  <% if @college_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@college_manager.errors.count, "error") %> prohibited this college_manager from being saved:</h2>

      <ul>
      <% @college_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% s = request.original_url %>
  <br>
  <% l = s[35...-21] %>
  <br>
  <% l = l.to_i %>
  <% @collegeaands.each do |collegeaand| %>
  <% if collegeaand.id == l %>
  <p>
    <strong>Name of Degree or Certificate Program:</strong>
    <%= collegeaand.one %>
    <br>
    <strong>Degree Level:</strong>
    <%= collegeaand.two %>
    <br>
    <strong>Name of Academic Department (if not a standalone program):</strong>
    <%= collegeaand.three %>
    <br>
    <strong>Name of College/School/Branch:</strong>
    <%= collegeaand.four %>
    <br>
    <strong>Academic Year/Assessment Period:</strong>
    <%= collegeaand.five %>
    <br>
    <strong>Submitted By (include email address):</strong>
    <%= collegeaand.six %>
    <br>
    <strong>Date Submitted to College/School/Branch for Review:</strong>
    <%= collegeaand.seven %>
    <br>
    <strong>Date Reviewed by College Assessment and Review Committee (CARC) or the equivalent:</strong>
    <%= collegeaand.eight %>
    <br>
    <strong>State whether ALL of the program’s student learning outcomes (SLOs) are targeted/assessed/measured within one year, two years, OR three years:</strong>
    <%= collegeaand.nine %>
    <br>
    <strong>If the program’s SLO’s are targeted/assessed/measured within two years or three years, please state whether this assessment record focuses on SLOs from the first year, second year, or third year of your assessment cycle: </strong>
    <%= collegeaand.ten %>
    <br>
    <strong>Describe the program changes that were implemented during this reporting period in response to the previous period’s assessment results. Please include evidence of implemented changes in an appendix:</strong>
    <%= collegeaand.eleven %>
    <strong>Describe any revisions to your assessment process that you made for this reporting cycle and/or plan to make for future reporting cycles:</strong>
    <%= collegeaand.twelve %>
    </p>
     <% end %>
  <% end %>
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :collegeaand_id, :value => l %>
      <%= f.label :comment %><br>
      <%= f.text_area :comment %>
    </div>
    <div class="field">
      <%= f.label :score %><br>
      <%= f.text_field :score %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  
<% if current_user.position == "Admin" %>
    <br>
    <% @college_managers.each do |collegemanager| %>
      <% if collegemanager.collegeaand_id == l %>
        <% idc = collegemanager.user_id %>
        <% @users.each do |user| %>
          <% if idc == user.id %>
            <strong>Graded By </strong><%= user.email %>
            <strong>Under </strong><%= user.department_name %> Department
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>